node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
dist
.idea


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.DS_Store
dist-ssr
dest
dest-ssr
coverage
*.local
FileConverter

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.asar
*.asar.unpacked
*.zip
electron/